.all-groups-list {
  margin: 120px 740px 0 520px;
}

.navlink {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 4px;
  width: 800px;
  margin-right: auto;
}

#events-nav {
  color: #757575;
  margin-right: 15px;
}

#groups-nav-active {
  color: #008294;
  border-bottom: 4px solid #008294;
}

.suggested-groups-text {
  font-weight: 300;
  color: #757575;
}

.group-card-wrapper {
  display: flex;
  flex-flow: column;
  /* border-bottom: 1px solid #757575; */
}

.group-card {
  display: flex;
  flex-flow: row;
  /* justify-content: space-between; */
  align-items: flex-start;
  max-width: 700px;
  width: 100%;
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-bottom: 15px;
}

.group-img {
  border-radius: 6px;
  width: 178px;
  margin-top: 18px
  /* padding: 1em; */
}

.card-right {
  margin-left: 30px;
}

.card-top-right {
  line-height: 25px;
}

.group-name {
  font-size: x-large;
  color: black;
  word-wrap: break-word;
  width: 500px;
}

.group-location {
  font-weight: 400;
  color: #877457;
}

.card-about {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 500px;
  text-overflow: ellipsis;
  overflow:hidden;
  color: rgb(117, 117, 117);
}

.card-bottom {
  display: flex;
  flex-direction: row;
  color: rgb(117, 117, 117);
}
