.all-groups-list {
  margin: 120px 0 0;
}

.navlink {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 4px;
}

#events-nav {
  color: #757575;
  margin-right: 15px;
}

#groups-nav-active {
  color: #008294;
  border-bottom: 4px solid #008294;
}

.suggested-groups-text {
  font-weight: 300;
  color: #757575;
}

.group-card-wrapper {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #757575;
}

.group-img-container {
  border-radius: 5px;
}
