.group-detail-page {
  /* margin: 120px 700px 0 450px; */
  display: flex;
  flex-flow: column;
  margin-top: 120px;
}

.group-detail-upper {
  display: flex;
  flex-flow: row;
  padding: 20px;
  margin: auto;
  width: 50vw;
}

.group-image {
  border-radius: 6px;
  width: 37vw;
  min-height: 100%;
  object-fit: cover;
}

.group-detail-upper-right {
  /* margin-left: 50px; */
  display: flex;
  flex-flow: column;
  margin: 0 auto 0 1.5em;
}

.group-btn {
  background-color: rgb(38,143,156);
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  transition: opacity 0.3s;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}
.group-btn:hover,
.group-delete-btn:hover {
  transition: 0.2s;
  opacity: 1;
}

.group-delete-btn {
  background-color: #ed1c40;
  opacity: 0.8;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  transition: opacity 0.3s;
  max-width: 100%;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}

.group-detail-lower {
  display: flex;
  background-color: #F6F7F8;
  /* padding: 20px; */
  justify-content: space-between;
  margin: auto;
  width: 50vw;
}

.group-about-section {
  max-width: 630px;
  width: 37vw;
  padding-left: 20px;
  padding-top: 20px;
}

.members {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
