.create-group-page {
  margin: 120px auto 0;
  width: 200px;
}

.input-fields {
  padding: 5px;
}

.input-field {
  border: solid rgb(200, 200, 200);
  background-color: rgb(250, 250, 250);
  border-width: thin;
  padding: 5px;
  font-size: 15px;
  border-radius: 6px;
}

.submit-new-group {
  font-size: 18px;
  background-color: #ED1C40;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-weight: bold;
  opacity: 0.75;
  /* justify-content: flex-end; */
  margin-top: 10px;
  cursor: pointer;
}

.submit-new-group:hover {
  opacity: 1;
}

.errors-div {
  max-width: 200px;
}
